
* {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input {
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
	margin: 0;
}


a{
	color: #000000;
	text-decoration: none;
}

a:hover,
a:focus{
	color: #000000;
	text-decoration: none;
}

body {
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif !important;
}
.wrapper{
	height: 100vh;
	overflow-y: hidden;
}
.wrapper .navbar-top{
	height: 60px;
	width: 100%;
	display: block;
	-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
}
.wrapper .navbar-top .left-block{
	display: inline-block;
    padding: 15px;
    font-size: 20px;
}
.wrapper .navbar-top .middle-block{
	display: inline-block;
	width: calc(100% - 115px);
	height: 30px;
	margin-top: 15px;
}
.wrapper .navbar-top .right-block{
	display: inline-block;
    padding: 15px;
    float: right;
    font-size: 20px;
}
.wrapper .content{
	height: calc(100vh - 120px);
	overflow-y: auto;
}
.wrapper .navbar-bottom{
	height: 60px;
	padding: 10px 0px;
	-webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.15);
	box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.15);
}
.wrapper .navbar-bottom .link{
	display: inline-block;
	width: 24%;
	text-align: center;
}
.wrapper .navbar-bottom .link i{display: block;font-size: 25px;}
.wrapper .navbar-bottom .link span{display: block;}